<h1>Search Book</h1>
<div class="d-flex w-50 mt-3">
    <input class="form-control me-2 ms-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
    <select name="searchBy" class="form-control" [(ngModel)]="searchBy">
      <option value="default" disabled>Search By</option>
      <option value="title" >Title</option>
      <option value="author">Author</option>
    </select>
    <button class="btn btn-primary ms-2" type="button" (click)="searchBook()">Search</button>
</div>

<div class="alert alert-info m-2" role="alert" *ngIf="result()">
   {{msg}}
</div>

<h1 class="ps-5 pb-3 mt-4" *ngIf="books.length > 0">List of Books</h1>
<table class="m-5 mt-3" *ngIf="books.length > 0">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Year</th>
        <th scope="col">Price</th>
    </tr>
    <tr *ngFor="let book of books; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>{{book.authors}}</td>
        <td>{{book.year}}</td>
        <td>${{book.price}}</td>
    </tr>
</table>